:root{ /*Como no tenemos una pagina de estilos, tenemos que cargar acá también los colores*/
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-green:#ACD9B2;
    --sm: 14px; /*Hacemos variables con distintos tamaños de letras */
    --md: 16px;
    --ld: 18px;    
    }