@use 'vars';

.login {
    width: 100%;
    height: 100vh;
    display: grid; /* Con esto directamente, al hacer grid y center, centramos todo el contenido */
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr /*Armamos como tres filas, una para el Create Pass, otro para las partes de intro el pass y otra para button*/
    auto;
    width: 300px;
    justify-items: center; /*EsItems para que tome la imagen*/
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none; /* Esto lo hacemos para que no aparezca en la versión desktop pero si en el mobile */
}
.title {
    font-size: var(--lg) ; /*Aca usamos la variable que creamos arriba*/
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex; /* usamos esto para poder justificarlo de arriba, de abajo y centrarlo*/
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-image img { /*Para solo retocar la imagen del sobre y no el contenedor que también nos da los espacios*/
    width: 80px;
}

.resend {
    font-size: var(--sm);
}

.resend span {
    color: var(--very-light-pink);
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none; /* Para que nos saque la linea debajo de resend*/
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;   
    color: var(--white);
    width: 100%;
    cursor: pointer;    /*Para que cuando pasamos el mouse arriba se ponga el puntero*/
    font-size: var(--md);
    font-weight: bold;
    height: 60px;
}

.logit-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

@media (max-width: 640px) { /*hasta ese máximo de 640 px se va a mostrar el logo, en el desktop no*/
    .logo{
        display: block;
    }
}
